/** Media Queries **/
@use 'variables' as v;
@use  'sass:color';
@mixin telefono {
    @media (min-width: #{v.$telefono}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{v.$tablet}) {
        @content;
    }
}
  
@mixin desktop {
    @media (min-width: #{v.$desktop}) {
        @content;
    }
}
@mixin grid($columnas, $espaciado ) {
    display: grid;
    gap: $espaciado;
    grid-template-columns: repeat($columnas, 1fr);
}

@mixin boton($display,$bgColor) {
    display: $display;
    background-color: $bgColor;
    color: #fff;
    font-weight: v.$bold;
    text-decoration: none;
    padding: 1rem 3rem;
    text-align: center;
    margin-top: 2.5rem;
    border: none;
    
    &:hover {
        background-color: color.scale($bgColor, $lightness: -5%);
        cursor: pointer;
    }
}