@use 'variables' as v;

.seccion {
    margin-top: calc(v.$separacion / 2);
    margin-bottom: calc(v.$separacion / 2);
}
.contenido-centrado {
    max-width: 80rem;
}

.alinear-derecha {
    display: flex;
    justify-content: flex-end;
}

.informacion-meta {
    span {
        color: v.$amarillo;
    }
}

.w-100 {
    width: 100%;
}