@use 'base/variables' as v;
@use 'base/mixins' as m;

.no-webp .imagen-contacto {
    background-image: url('../img/encuentra.jpg');
}

.webp .imagen-contacto {
    background-image: url('../img/encuentra.jpg');
}


.imagen-contacto {
    background-position: center center;
    background-size: cover;
    padding: 10rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        font-size: 4rem;
        font-weight: v.$black;
        color: #ffffff;
    }

    p{
        padding: 1rem;
        font-size: 2rem;
        color: #ffffff
    }

    a {
        @include  m.boton(inline-block,  v.$amarillo);
    }


}