@use 'base/variables' as v;
.footer {
    padding: 2.5rem 0;
    background-color: v.$grisOscuro;

    .contenedor-footer {
        padding-top: calc(v.$separacion /2);
    }

    .copyright {
        color: #ffffff;
        text-align: center;
    }
}