@use 'base/variables' as v;
@use 'base/mixins' as m;

.btn-dark {
    position: absolute;
    width: 3rem;
    top: 14rem;
    left: .5rem;
    filter: invert(100%);
    &:hover {
        cursor: pointer;
    }

    @include m.tablet {
        top: 6.2rem;
        right: 1.9rem;
        width: 3rem;
    }
}

.barra {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;

    @include m.tablet {
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion {
    visibility: hidden;
    opacity: 0;
    transition: opacity .5s ease-in-out, height .3s ease-in-out;
    font-size: 1.8rem;
    height: 6rem;



    @include m.tablet{
        visibility: visible;
        opacity: 1;
        display: flex;
        height: auto;
        align-items: center;
    }

    a {
        color: #ffffff;
        text-decoration: none;
        font-size: 2.2rem;
        display: block;
        text-align: center;
        &:hover {
            color: v.$verde;
        }

        @include m.tablet {
            margin-right: 2rem;

            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}
.mobile-menu {
    position: absolute;
    width: 3rem;
    margin-left: 3rem;
    top: 10rem;
    left: -2.5rem;

    @include m.tablet {
        display: none;
    }
}

.mostrar {
    visibility: visible;
    opacity: 1;
    height: 15.8rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: stretch;

    @include m.tablet {
        display: flex;
        height: auto;
        
    }
}