@use 'base/variables' as v;

.testimoniales {

    .testimonial {
        background-color: v.$verde;
        color: #ffffff;
        font-size: 2.4rem;
        padding: 2rem;
        border-radius: 2rem;

        blockquote {
            padding-left: 5rem;
            position: relative;

            &::before {
                content: '';
                background-image: url(../img/comilla.svg);
                background-repeat: no-repeat;
                width: 6rem;
                height: 8rem;
                display: block;
                position: absolute;
                left: -3rem;
            }
        }

        p {
            text-align: right;
            color: #ffffff;
        }
    }
}